:root {

	/* colors */
	--color-red: #e74b3c;
	--color-red-light: #F9EFEF;
	--color-red-medium: #DD9B9B;
	--color-red-dark: #c72818;
	--color-blue: #78B3E8;
	--color-blue-light: #F1F8FE;
	--color-blue-medium: #78B3E8;
	--color-blue-dark: #3e92de;
	--color-gray: #615b5b;
	--color-gray-light: #F0F1F2;
	--color-gray-medium: #BCC2C8;
	--color-gray-dark: #3e3a3a;
	--color-green: #1fbf92;
	--color-green-light: #F3FAF6;
	--color-green-medium: #89C49C;
	--color-green-dark: #168565;
	--color-yellow: #F0C609;
	--color-yellow-light: #FFFAEB;
	--color-yellow-medium: #FFEBB4;
	--color-yellow-dark: #9e8206;
	--color-orange: #DD731D;
	--color-orange-light: #F6EAE3;
	--color-orange-medium: #E1B9A4;
	--color-orange-dark: #a15415;

	/* fonts */
	--font-family-normal: 'Poppins', sans-serif;
	--font-family-secondary: 'Montserrat', sans-serif;

}